@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: rgb(241, 245, 249);
  --border: rgb(100, 116, 139);
  --bg-slate-800: rgb(30, 41, 59);
}

html {
  font-size: 0.8rem;
}

@media (min-width: 640px) {
  html {
    font-size: 1rem;
  }

  .polygon:before, .polygon:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    transform: translate(-100%, 50%);
    width: 6px;
    height: 12px;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  }
  
  .polygon:before {
    background-color: var(--border);
  }
  
  .polygon:after {
    margin-left: 1px;
    background-color: var(--bg);
    background-image: linear-gradient(var(--bg), var(--bg));
  }
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--bg-slate-800) transparent transparent transparent;
}

div#tooltip-thumbsUp, div#tooltip-thumbsDown, div#tooltip-smile, div#tooltip-hooray, div#tooltip-unhappy, div#tooltip-heart {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}

div#thumbsUp-reaction:hover div#tooltip-thumbsUp {
  visibility: visible;
  opacity: 1;
}

div#thumbsDown-reaction:hover div#tooltip-thumbsDown {
  visibility: visible;
  opacity: 1;
}

div#smile-reaction:hover div#tooltip-smile {
  visibility: visible;
  opacity: 1;
}

div#hooray-reaction:hover div#tooltip-hooray {
  visibility: visible;
  opacity: 1;
}

div#unhappy-reaction:hover div#tooltip-unhappy {
  visibility: visible;
  opacity: 1;
}

div#heart-reaction:hover div#tooltip-heart {
  visibility: visible;
  opacity: 1;
}

div.floating-label-group {
  position: relative;
  /* width: 90%; */
}

label.floating-label {
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  color: #121212;
  padding: 0;
  opacity: 0.5;
  font-size: 1rem;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  transition: all 0.1s ease-in-out;
}

input.form-control {
  padding: 12px;
  width: 100%;
  outline: none;
  border-radius: 0;
  border: 1px solid #121212;
  font-size: 1rem;
}

input.form-control:focus ~ label.floating-label,
input.form-control:not(:focus):valid ~ .floating-label {
  background-color: burlywood;
  color: blue;
  padding: 0 4px;
  opacity: 1;
  font-size: 0.8rem;
  top: 0;
  left: 10px;
  transform: translate(0, -60%);
  font-weight: 600;
}

input.form-control:focus {
  border-color: blue;
}

form.form-register {
  background-color: burlywood;
}

.spinner {
  position: relative;
  width: 70px;
  height: 70px;
  border: 6px solid #6e6a6a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
}

.spinner:before {
  content:"";
  display:block;
  position:absolute;
  left:0px;
  top:-6px;
  height:100%;
  width:100%;
  border-top:6px solid rgb(22, 20, 20);
  border-left:6px solid transparent;
  border-bottom:6px solid transparent;
  border-right:6px solid transparent;
  border-radius:50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}